In [1]:
import pandas as pd

In [4]:
csv_path = '/home/btheard/sentinel/data/all_stocks_5yr.csv'

try:
    df = pd.read_csv(csv_path)
    print("File loaded successfully.")
except FileNotFoundError:
    print("File not found. Check the path.")
except Exception as e:
    print("Error loading file:", e)

File loaded successfully.

In [5]:
df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  object
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

In [7]:
print("Available columns:", df.columns.tolist())

Available columns: ['date', 'open', 'high', 'low', 'close', 'volume', 'Name']

In [8]:
df.columns = [col.lower().strip() for col in df.columns]

df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'name'], dtype='object')

In [9]:
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    print(" 'date' column converted to datetime.")
else:
    print(" 'date' column missing.")

 'date' column converted to datetime.

In [11]:
# Unique tickers and date range
if 'name' in df.columns:
    print("Unique tickers:", df['name'].nunique())
    print("Ticker examples:", df['name'].unique()[:5])
else:
    print(" 'name' column missing.")

if 'date' in df.columns:
    print("Date range:", df['date'].min(), "to", df['date'].max())

Unique tickers: 505
Ticker examples: ['AAL' 'AAPL' 'AAP' 'ABBV' 'ABC']
Date range: 2013-02-08 00:00:00 to 2018-02-07 00:00:00